.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: transparent;
}

.sliderLayoutContainer--carouselCategorias{
  width: 90%;
  max-width: 1140px;
  padding: 0 50px;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  .imageElementLink--carouselCategorias{
    transition: .3s;
    position: relative;
    top: 0;
  }
  .imageElementLink--carouselCategorias:hover{
    top: -5px;
  }
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .4rem;
  padding-right: .4rem;
}
.slideChildrenContainer--shelf2{margin:5px;}
.slideChildrenContainer--shelf2 :global(.vtex-button){display:none;}
.sliderArrows{
  width:40px;
  height:40px;
}
.sliderLeftArrow{
  background:url(/arquivos/arrow_left.png) no-repeat !important;
}
.sliderRightArrow{
  background:url(/arquivos/arrow_right.png) no-repeat !important;
}
.caretIcon{display:none;}
@media only screen and (max-width: 639px) {
  .sliderLayoutContainer--shelf{padding:0 !important;}
  .sliderArrows{display:none;}
}