.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: transparent;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .4rem;
  padding-right: .4rem;
}
.slideChildrenContainer--shelf{
  border:1px solid #E8E8E8;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius:5px;
}
