.submenu .styledLinkContent{
    color: #333;
    font-weight:normal;
    font-size:12px;
    margin:5px 0;
}
.menuContainer--menu-principal .menuItem{
    list-style:disc;
}
.menuContainer--menu-principal .menuItem--noicon,
.menuContainer--menu-principal .submenu .menuItem{
    list-style:none;
}
.menuContainer--menu-principal .submenu .styledLinkContainer{
    margin:0;
    padding:0;
}
.menuContainer--menu-principal .styledLinkContainer{
    margin:0 1rem 0 0;
    padding:1rem 1rem 1rem 0;
}
.menuContainer--menu-principal .submenuWrapper{
    padding:10px;
    width:300px;
    border:0;
    margin:0;
    border-radius:5px;
}
.submenu .styledLinkContent--menu-ver-todos{
    font-weight:bold;
}
.menuContainer--menu-principal .submenuWrapper .menuContainerNav{width:100%;}
.menuContainer--menu-footer .styledLinkContainer{margin:0;}
.menuContainer--menu-footer .styledLinkContent{
    color:#333;
    font-size:14px;
}
.menuContainer--menu-footer{margin-bottom:80px}