.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}
.element :global(.vtex-button){
  font-weight:bold;
  padding:20px 0 23px;
}
.nameContainer {
  justify-content: center;
  padding-top: 0;
  padding-bottom: 1rem;
}

.brandName {
  font-weight: 600;
  font-size: 14px;
  color: #333;
  text-transform:uppercase;
}

.container {
  text-align: center;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}
