.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}
.flexRow--main-menu{
  background:#C40E29;
  color:#fff;
}
.flexRow--main-menu :global(.vtex-menu-2-x-styledLinkContent) {
  color: #fff;
  font-size: 14px;
  font-weight:bold;
  text-transform:uppercase;
}
@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #EFF0F0;
  color: #333;
}

.flexRowContent--main-header {
  background-color: #fff;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #333;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 16px;
  color:#213C84;
}
.flexRow--deals {
  background-color: #EFF0F0;
  padding: 14px 0px;
}
.flexRow--deals .flexColChild{
  display:inline-block;
  vertical-align:middle;
  max-width:60%;
  height:auto !important;
  margin:0 5px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: left;
}

.flexRow--deals .flexCol {
  align-items: left;
  display:block;
  border-right:1px solid #BCBCBC;
}
.flexRow--deals .flexCol--noborder{
  border-right:0;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}
.flexCol--productRating{
  margin-bottom:0 !important;
}
.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}
.flexRowContent--banners-home{
  text-align:center;
}
.flexCol--img-banner-3{
  align-items:flex-end;
}
.flexRow--addToCartRow {
  padding-bottom: 1rem;
}
.flexRow--credits{
  background:#EFF0F0;
}
.flexCol--container-img-footer{position: relative;}
.flexColChild--menu-footer .flexRowContent{
  align-items:flex-start;
}
.flexRowContent--menu-row .stretchChildrenWidth:first-child{
  width:30% !important;
}
.flexRowContent--menu-row .stretchChildrenWidth:last-child{
  width:70% !important;
}
.flexRowContent--menu-row .stretchChildrenWidth .stretchChildrenWidth{
  width:30% !important;
}