.galleryLayoutOptionButton {
  background-color: #F0F0F0;
  color: #3F3F40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}
.galleryTitle--layout{
  font-size:25px;
  color:#213C84;
  margin:20px 0 10px;
  text-transform:uppercase;
}
.filters--layout{
  border:1px solid #E8E8E8;
  border-radius:5px;
  padding:0 10px;
}
.galleryLayoutOptionButton--selected {
  background-color: #3F3F40;
  color: #FFFFFF;
}
.gallery--grid{
  padding-left:0;
  margin-bottom:50px;
}
.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center
}

.galleryItem{
  padding:10px 5px 0;
}
